.table-container{
    margin: 18px 0 10px;
}

#transfer-table{
    width: 100%;
    border-collapse: collapse;
}

#transfer-table th{
    font-size: var(--font-size-xs);
    font-weight: 300;
    color: var(--sonic-silver);
    white-space: nowrap;
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid var(--white-lilac);
}


#transfer-table td{
    font-size: 12px;
    color: var(--sonic-silver);
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 1px solid var(--white-lilac);
}